body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #363636;
}

#main-container {
  height: 92%;
  width: 100%;
}

nav {
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background: white;
  z-index: 1000;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
    
    .nav-button {
      transition: all 0.3s;
    }

    &:active {
      background: transparent;
    }

    &:visited {
      color: #363636;
    }

    &.router-link-exact-active .nav-button{
      opacity: 0.5;
    }
  }
}