body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #363636;
}

#main-container {
  top: 0;
  width: 100%;
}

nav {
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background: white;
  z-index: 1000;
  bottom: 0;
  position: fixed;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;

    &:visited {
      color: #363636;
    }
    
    .nav-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      opacity: 0.3;

      svg {
        width: 36px;
        height: 30px;
        fill: #363636;
      }

      div {
        font-size: 12px;
      }
    }

    &.router-link-exact-active .nav-button{
      opacity: 1;
    }
  }
}