body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #363636;
}

#main-container {
  flex-grow: 1;
  width: 100%;
}

nav {
  flex: 0 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background: white;
  z-index: 1000;

  a {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    font-weight: bold;
    height: 100%;
    text-decoration: none;
    transition: all 0.3s;
    
    .nav-button {
      width: 100%;
      text-align: center;
      transition: all 0.3s;
    }

    &:active {
      background: transparent;
    }

    &:visited {
      color: #363636;
    }

    &.router-link-exact-active .nav-button{
      opacity: 0.5;
    }
  }
}