#progress {
<<<<<<< HEAD
  position: absolute;
  width: 100vw;
  height: 90%;
=======
  position: relative;
  width: 100%;
  height: 100%;
>>>>>>> 0b0541f04b04916d46caa6c847bfaa1fdbb02ff1
  box-sizing: border-box;
  overflow: hidden;

  #actions-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;

    .action-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 18%;
      margin-top: 16px;
<<<<<<< HEAD
      padding: 12px 18px;
=======
      padding: 6px 18px;
>>>>>>> 0b0541f04b04916d46caa6c847bfaa1fdbb02ff1
      background: rgba(255,255,255, 0.6);
      border-radius: 24px;
      box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
      transition: all 0.5s;
      user-select: none;
      cursor: pointer;

      &:active {
        box-shadow:  0px 0px 3px 0px rgba(0,0,0,0.1);
        background-color: white;
        transform: scale(0.9);
      }

      div {
        font-size: 21px;
        font-weight: 600;
        text-align: center;
      }

      svg {
        margin-left: 8px;
        width: 1.5em;
        height: 1.5em;
        fill: #363636;
        .st0{
          fill:none;
          stroke: #363636;
          stroke-width:4.5;
          stroke-miterlimit:10
        }
      }
    }
  }

  #progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

    #progress-background {
      position: absolute;
      width: 100%;
      height: 200%;
      bottom: 0;
      left: 0;
      
      &.offset {
        transform: translate(0, 50%);
        transition: transform 1000ms;
      }
    }

    #tokens {
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      
      .line-token {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25%;
        min-height: 25%;
        opacity: 0.6;
        backdrop-filter: blur(2px);

        &.line-enter-active {
          transition: all 1s;
        }
        
        &.line-enter {
          height: 0;
          min-height: 0;

          .token {
            width: 0;
            height: 0;
            border: none;
          }
        }
        
        .token {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          border: 5px white solid;
          background: rgba(0,0,0,0.3);
          border-radius: 100px;
          box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

          &.collected {
            width: 108px;
            height: 72px;
            background: rgba(0,0,0,0.3);
            background-image: linear-gradient(-60deg, transparent 0%, transparent 30%, rgba(255, 255, 255, 0.5) 50%, transparent 70%, transparent 100%);
            background-size: 300px;
            background-repeat: no-repeat;
            animation-name: shine;
            animation-duration: 4s;
            animation-iteration-count: infinite;

            @keyframes shine {
              0% {
                background-position: -300px;
              }
              100% {
                background-position: 300px;
              }
            }

            &.large {
              width: 144px;
              height: 96px;
              
              .token-number {
                font-size: 36px;
              }
            }  

            svg {
              width: 60%;
              height: 60%;
            }

            .token-number {
              opacity: 1;
            }
          }

          svg {
            width: 0;
            height: 0;
            fill: white;
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }

          .token-number {
            margin-left: -8px;
            opacity: 0;
            font-size: 30px;
            font-weight: 900;
            color: white;
            transition: all 0.5s;
          }
        }

        .line {
          width: 5px;
          background: white;
          flex-grow: 1;
        }
      }
    }
  }

  .rain-enter-active, .rain-leave-active {
    transition: opacity .5s;
  }
<<<<<<< HEAD
  .rain-enter, .rain-leave-to {
    opacity: 0;
  }

  #congrats {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);

    svg {
      width: 50%;
      fill: rgba(255,255,255,0.7);
    }

    div {
      font-size: 48px;
      font-weight: 900;
      color: rgba(255,255,255,0.7);
    }

    &.rain-enter-active {
      transition: opacity .5s;
      svg {
        transition:  all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  
    &.rain-enter {
      opacity: 0;
      svg {
        width: 0;
        height: 0;
      }
    }
  }
=======
  .rain-enter, .rain-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
>>>>>>> 0b0541f04b04916d46caa6c847bfaa1fdbb02ff1
}